.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    color: solid black;
}

.box3 {
    flex: 0 1 99%; 
    border: 2px solid #c2c2c2;
}

.box2 {
    flex: 0 1 49%;
    /* border: 1px solid #c2c2c2; */
    margin: 10px;
}

.main {
    /* background-color: #e7eff882; */
    /* border: 1px solid #c2c2c2; */
    padding: 8px;
    border-radius: 2px;
    color: rgb(10, 9, 9);
    position: relative;
}

.mains {
    /* padding-bottom: 80px;  */
    /* border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border: 1.5px solid #e2e8eb; */
}

/* .slds-docked-form-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f6f9;
    z-index: 1000; 
}




.slds-docked-form-footer {
    flex-shrink: 0; 
    background-color: #f4f6f9; 
} */


.head {
    font-size: 20px;
    font-weight: bold;
    /* font-family: var(--lwc-fontFamily, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'); */
    margin: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: #0e3aed;
    text-align: center;
    position: relative;
    padding-bottom: 4px;
    text-decoration: underline;
    
    
}

table {
    border-collapse: collapse;
    border:1px solid #ddd;
    font-size: 12px;
    font-family: var(--lwc-fontFamily, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');

  }
  
  th,
  td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding: 8px;
    /* text-align: left; */
    /* border-bottom: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
    /* border-left: 1px solid #ddd; */
    border: 1px solid #ddd;
    text-align: left;
    /* background-color: white; */
    /* text-shadow: 2px 2px 3px rgb(128, 125, 125); */
  }
  
  td {
    padding-top: 3px;
    padding-bottom: 3px;

  }
  th {
    /* background-color: rgb(240, 240, 240); */
    /* width: 100%; */
    color: black;
    border:1px solid #ddd;
    text-align: left;
    /* font-weight: bold; */
    /* text-shadow: 2px 2px 3px rgb(128, 125, 125); */
  }

  .fixed-image {
    max-width: 18%;  /* Make sure the image does not exceed the container width */
    height: auto;     /* Maintain the aspect ratio */
    display: block;   /* Remove any extra space below the image */
    margin: 0 auto;   /* Center the image horizontally */
}



.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 240, 240, 0.612); 
    backdrop-filter: blur(5px); 
    z-index: 9999; 
    
    }
    .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #0e3aed;  
    color: #0e3aed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; 
    }
    
    .wait-text {
    margin-top: 10px;
    font-size: 16px;
    color: #0e3aed;
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    .mainDiv {
        /* Adjust width as needed */
         margin: 0 auto !important;
         width: 100%;
         padding: 5px;
 
     }

    
  @media (min-width: 768px) {
    .mainDiv {
       /* Adjust width as needed */
        margin: 0 auto !important;
        width: 100%;
        padding: 5px;

    }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .mainDiv {
        padding: 0; /* Reset padding for smaller screens */
        width: 100%; 
        /* justify-content: center; */
        /* align-items: center; */
    }
}

.container{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 610px) {

    .container, .container2 {
      flex-direction: column;
      max-width: 100%; /* Ensure full width */
      padding: 0 10px; /* Add padding for spacing */
      margin: 0 auto; /* Center the container */
      box-sizing: border-box; 
      overflow: hidden;
      position: relative;
    }
  
    .custom-table {
      display: block;
      overflow-x: auto;
    }
  
    
  
                .custom-table th, .custom-table td {
                  display: table-cell; /* Ensure cells remain in table layout */
                  box-sizing: border-box;
                  padding: 8px; /* Maintain original padding for custom table */
                  font-size: 12px; /* Maintain original font size for custom table */
              }
  
              .custom-table tr {
                  display: table-row; /* Ensure rows remain in table layout */
                  margin-bottom: 0; /* Remove margin for custom table rows */
              }
  
  
    table:not(.custom-table) {
      overflow-x: auto;
      /* Allow horizontal scrolling on smaller screens */
       width: 100%;
    }
  
  
  
    th,
    td {
      display: block;
      /* Display headers and data cells as block elements */
      box-sizing: border-box;
      padding: 6px;
      /* Reduced padding for smaller screens */
      font-size: 10px;
      /* Include padding and border in the element's total width */
    }
  
    tr {
      display: block;
      /* Make each row a block */
      margin-bottom: 1em;
      /* Add some space between rows */
    }
  
    .box,
    .box2,
    .box3 {
      flex: 1 1 100%;
      /* Full width for boxes on smaller screens */
      margin: 5px 0;
      /* Reduce margin on smaller screens */
    }
  
    .head {
      font-size: 18px;
      /* Adjust font size for mobile */
    }
  
    .gradient-text {
      font-size: 32px;
      /* Adjust text size for mobile */
    }
  
    th,
    td {
      font-size: 10px;
      /* Smaller font size for table on mobile */
    }
  
    .spinner-container {
      padding: 20px;
      /* Adjust spinner container padding for mobile */
    }
  }