.boxa, .boxb, .boxc{
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: 10px;
  
}
.slds-docked-form-footer{
  background: #868d8d;

}



.boxd{
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 14px;
  margin: 0px !important;
  
}

.box:hover{
  background-color: #28646c;
  color: #fff;
  border: 1px solid white;
}

.clicked {
  background-color: #28646c;
  color: #fff;
  border: 1px solid white;
}

.span{
  border: 1px solid #ccc !important; 
  border-right:20px solid transparent !important;
  border-left:20px solid transparent !important;
  margin: 20px;
}
/* 
.box:focus {
  background-color: #007bff;
  color: #fff;  
  outline: none;
} */

.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid black;
}

*{
  margin: 0px !important;
}

.div{
          background-image: url('/resource/svbg/SVbackground.jpg');

}

.body{
  margin: 0px !important;
  padding: 0px !important;
  /* background-image: url('/resource/svbg/SVbackground.jpg'); */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #ececec; */
  background-size: cover;
}

.sideblock {
  width: 30%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  border: 1px solid white;
  height: 550px;
  }

  .img {
      height: 100%; /* Ensure the .img div fills the .sideblock div */
      background-size: cover; /* Cover the entire .img div */
      background-position: center; /* Center the background image */
  }



.img img{
  height: 485px;
  object-fit: fill;
  width: 30%;
} 

.container{
  width: 100%;
  max-width: 750px;
  background: #757a79;
  /* background: #00203FFF; */
  

  padding: 28px;
  margin: 0px 28px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  position: relative;
  /* height: 100vh; */

}



.btn{
  display: block;
  width: 70%;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: rgb(209, 209, 209);
  background: #21A0DF;
}

.btn:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.cn{
  display: block;
  width: 70%;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: rgb(209, 209, 209);
  background: #21A0DF;
}

.btn:hover{
  background: #145DA0;
  color: rgb(255, 255, 255);
}

.cn:hover{
  background: #145DA0;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}



.form-title{
  font-size: 26px;
  font-weight: 600px;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: 1px solid white;
}

.user-input-box{
  /* display: flex;
 
  /* width: 100%; */
  padding-bottom: 15px;
  flex-wrap: wrap; 
}

.user-input-box label{
  /* width: 95%; */
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
  flex-wrap: wrap; 
}

.user-input-box lightning-input,lightning-slider,lightning-input-field {
  /* width: 95%; */
  border-radius: 7px;
  flex-wrap: wrap; 

}

lightning-combobox{
  /* width: 95%; */
  border-radius: 7px;
}

lightning-slider{
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

span{
  margin: 10px !important;
}
.required-label::before {
  content: '* ';
  color: red; /* You can change the color if needed */
}

.msg-container {
  border: 1px solid #c2c2c2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  /* border-radius: var(--lwc-borderRadiusMedium,0.25rem); */
  border-radius: 2vh;
  overflow: auto;
  min-height: fit-content;
  background-color: var(--background-color);
  margin: 5vh !important;

}

.main {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh 10vh;
  border-bottom: groove;
  background-color: #37A481;
  position: relative;
  width: auto;
  box-sizing: border-box;
}

.heads{
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
  /* margin: 10px;
  margin-top: 11px;*/
  margin-left: 10px; 
}

lightning-icon{
  /* margin: 20px; */
  margin-right: 10px !important;
  
}

.lhead, .ltd
{
  border: 1px solid #c2c2c2;
  padding: 8px;
  font-weight: 600;
  background-color: #c2c2c2;
  color: black;
  text-align: center;
  font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.ltd{
  background-color: white;
  text-align: center;
  font-weight: 400;
}

.ldname:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.opphead, .opp
{
  border: 1px solid #c2c2c2;
  padding: 8px;
  font-weight: 600;
  background-color: #c2c2c2;
  color: black;
  text-align: center;
  font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.opp{
  background-color: white;
  text-align: center;
  font-weight: 400;
}

.oppname:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.acchead, .acc
{
  border: 1px solid #c2c2c2;
  padding: 8px;
  font-weight: 600;
  background-color: #c2c2c2;
  color: black;
  text-align: center;
  font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.plogo{
  margin-bottom: 15px !important;
}

.acc{
  background-color: white;
  text-align: center;
  font-weight: 400;
}

.accname:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

lightning-input-field{
  margin-top: 10px !important;
}



.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 9999; 
    
    }
    .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #c53226;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; 
    }
    
    .wait-text {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    /* Responsive styles for smaller mobile devices (up to 480px width) */
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%; /* Full width on very small screens */
    padding: 16px; /* Reduce padding for smaller screens */
    margin: 0px 8px; /* Narrow margins for better spacing */
  }

  .user-input-box label {
    font-size: 16px; /* Smaller font size for very small screens */
    margin: 3px; /* Reduce margin for better spacing */
  }
}

/* Responsive styles for medium-sized mobile devices (up to 768px width) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;  /* Slightly smaller max width for medium screens */
    padding: 30px; /* Adjust padding */
    margin: 0px 16px; /* Moderate margin for medium screens */
  }
  .user-input-box label {
    font-size: 16px; /* Slightly larger font size */
    margin: 4px; /* Adjusted margin */
  }
}

/* Responsive styles for larger mobile devices and small tablets (up to 1024px width) */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;  /* Keep it smaller for larger mobile devices and tablets */
    padding: 24px; /* Slightly larger padding */
    margin: 0px 20px; /* Moderate margin */
  }

  .user-input-box label {
    font-size: 16px; /* Default font size */
    margin: 5px; /* Default margin */
  }
}